<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Smart</title>
    </head>
    <body>
        <style type="text/css" media="screen">
            .aligncenter{
                clear:both;
                display:block;
                margin:auto;
            }
        </style>
        <h1 align="left" style="font-size: 50px" onclick=javascript:location.href='/index'>Smart</h1>
        <hr />
        <img align="left" class="aligncenter" height=480px src='static/u341.png' />
        <form action="/login" method="POST" accept-charset="utf-8" enctype="multipart/form-data" style=" text-align: center;border:1px solid #006600;display:block;position:fixed;top:200px;left:800px;width:300px;height:250px;background-color: white;" >
            <h2 align="center">登录</h2>
            <input style = "height:30px;width:270px" type="text" value="" placeholder="用户名" name = "username"/>
            <br>
            <br>
            <input style = "height:30px;width:270px" type="password" value="" placeholder = "密码" name = "password"/>

            <br>
            <br>
            <input type="submit" name="login" style="visibility: visible;height:30px;width:270px"value="登     录"/> 
            <br>
            <span onclick=javascript:location.href='/register' style="position:relative;left:125px;top:5px;font-size: 5px">去注册</span>
        </form>
        <center hidden>{{info}}</center>
    </body>
</html>
