<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="refresh" content="5;url=/good/{{good_id}}" /> 
        <title>服装商城</title>
    </head>
    <body>
        <style type="text/css" media="screen">
            .aligncenter{
                clear:both;
                display:block;
                margin:auto;
            }
        </style>
    <p> 成功添加物品到购物车^_^.....三秒钟后返回原页面</p>

    </body>
</html>
